<% if @article.errors.any? %>
  <h2>Please look at these errors, and fixed it to save the article</h2>
  <ul>
  <% @article.errors.full_messages.each do | msg | %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>